/* Global Styles */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #6A760C;
    scroll-behavior: smooth;    
    
}

/* Header Styles */
/* header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
} */

.cover-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #000000; */
}

.cover-container .cover-image {
    width: auto;
    height: 600px;
    max-width: 100%;
    max-height: 100%;
}

/* header section */

header                      {background-color: black; height: 70px; width: auto; display: flex; justify-content: space-between; align-items: center; padding: 0 20px;}

header img                  { height: 125px; width: auto; margin: auto;}

header nav ul               {display: flex;}

header nav ul li            {list-style: none; margin: 0 50px;}

header nav ul li a          { text-decoration: none; color: white; font-size: 20px; }

header nav ul li a:hover    { color: #23F600;}

/* Cart */
#cart {
    background-color: #0B5E41;
    padding: 20px;
    border-radius: 20px;
    width: 400px;
    height: auto; /* Adjust height automatically based on content */
    position: sticky;
    top: 50px;
    text-align: center;
    color: #ffffff; /* White text color */
}

#cart .image-cart {
    margin-bottom: 20px;
    position: relative;
}

#cart .image-cart img {
    width: 135%; 
    max-width: 140%; 
    height: auto; 
    display: block; /* Ensure image is a block element */
    margin: 0 auto; /* Center align the image */
    position: absolute; 
    top: -80px; 
    left: -70px; 
    right: 0; 
}

.cart-content {
    padding: 20px;
}

.cart-content h2 {
    font-size: 4.0rem; /* Adjust size as needed */
    margin-bottom: 20px;
}

.cart-content ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.cart-content ul li {
    font-size: 2.5rem; /* Adjust size as needed */
    margin-bottom: 10px;
}

.cart-content p {
    font-size: 3.0rem; /* Adjust size as needed */
    margin-bottom: 20px;
}

/* BUTTON GO BACK */
.goback-button {
    background-color: #6A760C; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    cursor: pointer; 
    font-size: 16px; 
    border-radius: 5px; 
    margin-top: 10px; 
}

.goback-button p {
    margin: 0; 
}

/* Main Content */
main {
    display: flex;
    justify-content: space-between; /* Spread items apart equally */
    align-items: flex-start; /* Align items at the top vertically */
    margin: 40px auto;
    padding: 0 20px;
    max-width: 1600px;
}

/* Aside Styles */
aside {
    background-color: #6A760C;
    padding: 10px;
    margin: 20px;
    margin-right: 40px;
    border-radius: 5px;
    width: 400px;
    height: 500px;
    position: sticky;
    top: 50px;
}

aside h2 {    
    font-size: 4.0rem;
    color: #ffffff;
    margin: 20px 0;
    background-color: #0B5E41;
    padding: 30px; 
}

aside .filter-category {
    margin-bottom: 20px;
}

aside .filter-category h3 {
    font-size: 4.0rem;
    color: #000000;
    margin-bottom: 10px;
}

aside .filter-category ul {
    list-style-type: none;
    padding: 15px; 
}

aside .filter-category li {
    margin: 10px 0;
    background-color: #0B5E41;
}

aside .filter-category a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    padding: 8px;
    transition: background-color 0.3s ease;
    font-size: 2.5rem;
}

aside .filter-category a:hover {
    background-color: #6A760C;
    text-decoration: underline;
}

/* Article (Main Content) Styles */
article.content {
    flex: 1;
    display: flex;
    flex-direction: column; 
    gap: 20px;
    background-color: transparent;
}

article.content section {
    width: 100%; 
}

/* product-list */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: center; 
    background-color: #ffffff;
}

.product-list .product-item {
    background-color: rgba(255, 255, 255, 0.777);
    padding: 20px;
    border-radius: 5px;
    width: 400px; /* Fixed width */
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-list .product-item img {
    max-width: 100%; 
    height: auto; 
    display: block; 
}

.product-list .product-item h3 {
    font-size: 4.5rem; 
    margin-bottom: 0px;
    margin-top: 20px;
}

.product-list .product-item p {
    font-size: 2.5rem;
    margin-bottom: 30px; /* Increased space between paragraphs and buttons */
}

.product-list .product-item button {
    margin-top: 30px; /* Increased space between paragraphs and buttons */
    padding: 18px 34px;
    font-size: 1.5rem;
    border-radius: 20px;
    transition: background-color 0.3s, color 0.3s;
}

.product-list .product-item button:hover {
    background-color: #0B5E41;
    color:#ffffff;
}

footer { background-color: #273E06; position: absolute; left: 0; width: 98.9vw; margin-top: 15px; }

footer ul { display: flex; justify-content: center; }

footer ul li { list-style: none; margin: 0 50px; }

footer ul li a { text-decoration: none; color: white; font-size: 20px; }

footer ul li a:hover { color: #23F600;}

.copy-right {display: flex; justify-content: center; color: white }

/* Pop-up */

.popper{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    color: white;
}

.thankYou { display: none; }

.extra-information{
    background-color: #0b5e41;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    position: relative;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.popperCloseBtn{
    color: #aaa;
    float: right;
    font-size:28px ;
    font-weight: bold ;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.popperCloseBtn:hover,
.popperCloseBtn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;

}


